@charset "UTF-8";

:root {
  --bs-primary-darker: #c70;
  --bs-primary-dark: #d80;
  --bs-primary: #e91;
  --bs-primary-light: #fb2;
  --bs-primary-lighter: #fc3;
  --bs-secondary: #997;
  --bs-light: #f8f9fa;
  --bs-dark: #212121;
  --bs-darker: #141414;
  --bs-primary-rgb: 238, 153, 17;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-body-color: var(--bs-dark);
  --bs-body-bg: var(--bs-light);
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  color: var(--bs-primary);
  text-decoration: none;
}
a:hover {
  color: var(--bs-primary-lighter);
  text-decoration: underline;
}

.navbar-brand:hover {
  color: var(--bs-primary-lighter) !important;
  text-decoration: none;
}

.small, small {
  font-size: .75rem;
}

.border-primary {
  border-color: var(--bs-primary-light)!important;
}

.svg-fill-bg {
  fill: var(--bs-body-bg);
}
.svg-stroke-shadow {
  fill: none;
  stroke-width: 1px;
  stroke: var(--bs-body-bg);
  filter: drop-shadow(0px 0px 4px #000000) drop-shadow(0px 0px 7px #000000) drop-shadow(0px 0px 10px #000000) drop-shadow(0px 0px 13px #000000);
}

.navbar-dark {
  background-color: var(--bs-dark);
}

.btn-primary {
  color: var(--bs-light);
  background-color: var(--bs-primary);
  border-color: var(--bs-primary-light);
}
.btn-primary:hover {
  color: var(--bs-light);
  background: linear-gradient(to right, var(--bs-primary), var(--bs-primary-light));
  border-color: var(--bs-primary-light);
}

.heading-top::before {
  content: "";
  width: 3rem;
  padding-top: 0.5rem;
  height: 0.2rem;
  display: block;
  margin: 1rem auto 0;
  border-radius: .15rem;
  background-color: var(--bs-primary);
}
.heading-top::after {
  content: "";
  width: 11rem;
  height: 0.2rem;
  display: block;
  margin: -.2rem auto 0;
  border-radius: .1rem;
  background-color: var(--bs-primary);
}
.heading-bottom::before {
  content: "";
  width: 11rem;
  height: 0.2rem;
  display: block;
  margin: 0 auto;
  border-radius: .1rem;
  background-color: var(--bs-primary);
}
.heading-bottom::after {
  content: "";
  width: 3rem;
  padding-top: 0.5rem;
  height: 0.2rem;
  display: block;
  margin: -.2rem auto 1rem;
  border-radius: .15rem;
  background-color: var(--bs-primary);
}

header {
  padding: 10rem 0 0 0;
  background: linear-gradient(rgba(0,0,0,.35), rgba(0,0,0,.35)), url("../img/slime_bg_repeat.png") repeat-y;
  background-size: 100%;
}

.portfolio {
  margin-top: -100px;
}
@media(max-width: 900px) {
  .portfolio {
    margin-top: -90px;
  }
}
@media(max-width: 700px) {
  .portfolio {
    margin-top: -70px;
  }
}
@media(max-width: 500px) {
  .portfolio {
    margin-top: -55px;
  }
}
.portfolio {
  margin-top: calc(100% / -13);
}


.portfolio-box {
  position: relative;
  width: 100%;
  height: 18.5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.2rem;
  border-top: 0.5rem solid;
  border-bottom: 0.5rem solid;
  border-radius: .3rem;
  border-color: var(--bs-primary-lighter);
  background: radial-gradient(closest-side, var(--bs-body-color), transparent);
  transition-duration: .5s;
  transition-property: all;
}
.portfolio-box img {
  max-height: 100%;
  max-width: 100%;
  transition-duration: .5s;
  transition-property: all;
}
.portfolio-box .portfolio-info {
  background-color: var(--bs-primary);
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition-duration: .5s;
  transition-property: all;
}
.portfolio-box .portfolio-info .caption {
  text-align: center;
  color: var(--bs-light);
}

.portfolio-box:hover {
  border-color: var(--bs-primary-darker);
  transition-duration: 1s;
}
.portfolio-box:hover img {
  transform: scale(1.5);
  transition-duration: 1s;
}
.portfolio-box:hover .portfolio-info {
  opacity: 1;
  visibility: visible;
  transition-duration: 1s;
}

footer {
  background-color: var(--bs-darker);
}

.footer-sm {
  background-color: var(--bs-dark);
}

.footer-sm a {
  color: rgba(255, 255, 255, 0.7);
}
.footer-sm a i {
  font-size: 1rem;
}
.footer-sm a img {
  image-rendering: pixelated;
  width: 1rem;
  height: 1rem;
}
.footer-sm a.image-icon {
  margin-right: 1rem;
}
.footer-sm a.image-icon img {
  filter: grayscale(100%);
  opacity: .8;
}
.footer-sm a.image-icon img:hover {
  filter: none;
  opacity: 1;
}
@media (min-width: 576px) {
  .footer-sm a i {
    font-size: 1.6rem;
  }
  .footer-sm a img {
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
  }
  .footer-sm a.image-icon {
    margin-right: 1.6rem;
  }
}

.__copyright a {
  color: var(--bs-light);
}
.__copyright a:hover {
  color: var(--bs-primary-lighter);
}

.back-to-top {
  position: fixed;
  width: 3rem;
  height: 3rem;
  right: 1.875rem;
  bottom: 1.875rem;
  z-index: 9999;
}
.back-to-top i {
  color: var(--bs-light);
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
