@charset "UTF-8";

:root {
  --bs-primary: #ee9911;
  --bs-primary-light: #ffaa22;
  --bs-primary-lighter: #ffcc44;
  --bs-secondary: #6c757d;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-body-color: var(--bs-dark);
  --bs-body-bg: var(--bs-light);
}

a {
  color: var(--bs-primary);
}

.small, small {
  font-size: .75rem;
}

.border-primary {
  border-color: var(--bs-primary-light)!important;
}

.svg-fill-bg {
  fill: var(--bs-body-bg);
}
.svg-fill-fg {
  fill: var(--bs-body-color);
}

.navbar-dark {
  background-color: var(--bs-dark);
}

.btn-primary {
  color: var(--bs-light);
  background-color: var(--bs-primary);
  border-color: var(--bs-primary-light);
}
.btn-primary:hover {
  color: var(--bs-light);
  background: linear-gradient(to right, var(--bs-primary), var(--bs-primary-light));
  border-color: var(--bs-primary-light);
}

.btn-rounded {
  position: relative;
  padding: 0.8375rem 4.375rem 0.8375rem 1.25rem;
  font-weight: 700;
  margin: 0;
  border: 0.1rem solid rgba(255, 255, 255, 0.6);
  background-color: #fff;
  display: block;
}
.btn-rounded span {
  position: absolute;
  background-color: var(--bs-primary);
  width: 2.5rem;
  height: 2.5rem;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  border-radius: 50%;
}
.btn-rounded span i {
  color: var(--bs-light);
  font-size: 1rem;
  line-height: 2.5rem;
}
.btn-rounded:hover {
  background: linear-gradient(to right, var(--bs-primary), var(--bs-primary-light));
  color: var(--bs-light);
}
.btn-rounded:hover span {
  background-color: rgba(0, 0, 0, 0.6);
}

.heading-line::before {
  content: "";
  width: 10rem;
  height: 0.1rem;
  display: block;
  margin: 0 auto;
  background-color: var(--bs-primary);
}

.heading-line::after {
  content: "";
  width: 2rem;
  padding-top: 0.5rem;
  height: 0.2rem;
  display: block;
  margin: 0 auto 1rem;
  background-color: var(--bs-primary);
}

.display-3 {
  font-family: "Poppins", sans-serif;
}
.display-3--title {
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  display: inline-block;
  background-image: linear-gradient(to right, var(--bs-primary), var(--bs-primary-light));
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 992px) {
  .display-3--title {
    font-size: 1.8rem;
  }
}

.border-right {
  border-right: 0;
}
@media (min-width: 576px) {
  .border-right {
    border-right: 0.1rem solid #dee2e6;
    height: 100%;
  }
}

.gradient {
  background: linear-gradient(to right, var(--bs-primary), var(--bs-primary-light));
}

.menu li {
  padding: 0 0.7rem;
}
.menu li a {
  color: var(--bs-light);
  padding: 0 0.7rem;
  text-transform: capitalize;
  font-weight: 600;
}
.menu li:hover {
  color: var(--bs-light);
}

.intro-section {
  padding: 10rem 0 0 0;
  width: 100%;
  height: 100%;
}

.intro {
  font-family: "Poppins", sans-serif;
  margin-bottom: 1rem;
}
.intro > h1 {
  font-weight: bold;
}
.intro > h4 {
  font-weight: lighter;
}

.portfolio {
  margin-top: -50px;
}

.portfolio button {
  text-transform: capitalize;
}

.portfolio-box {
  position: relative;
  width: 100%;
  height: 18.5rem;
  overflow: hidden;
  text-align: center;
  margin-bottom: 1.2rem;
  border-top: 0.5rem solid var(--bs-primary-lighter);
  background: radial-gradient(closest-side, var(--bs-body-color), transparent);
}
.portfolio-box img {
  max-height: 100%;
  max-width: 100%;
}
.portfolio-box .portfolio-info {
  background-color: var(--bs-primary);
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
.portfolio-box .portfolio-info .caption {
  text-align: center;
  color: var(--bs-light);
  position: absolute;
  margin: 10%;
  size: auto;
}
.portfolio-box .portfolio-info .caption h4 {
  text-transform: uppercase;
  display: block;
}
.portfolio-box:hover img {
  transform: scale(1.5);
  transition-duration: 1s;
  transition-property: all;
}
.portfolio-box:hover .portfolio-info {
  opacity: 1;
  visibility: visible;
  transition-duration: 1s;
  transition-property: all;
}

.form {
  padding: 3rem;
}
.form button {
  border: none;
  color: var(--bs-light);
  text-transform: capitalize;
}
.form button a {
  color: var(--bs-light);
  text-decoration: none;
  text-transform: capitalize;
}

.footer {
  padding-top: 1rem;
  background-color: #151414;
}

.footer-sm a {
  color: var(--bs-light);
  margin-left: 1rem;
}
.footer-sm a i {
  font-size: 1rem;
}
.footer-sm a img {
  width: 1rem;
  height: 1rem;
}
@media (min-width: 576px) {
  .footer-sm a i {
    font-size: 1.6rem;
  }
  .footer-sm a img {
    width: 1.6rem;
    height: 1.6rem;
  }
}
.footer-sm a:hover {
  color: var(--bs-primary);
}

.footer-bottom {
  background-color: #000;
}
.footer-bottom__copyright {
  color: #6c757d;
  font-weight: 400;
}
.footer-bottom__copyright a {
  color: var(--bs-light);
  text-decoration: none;
}
.footer-bottom__copyright a:hover {
  color: var(--bs-primary);
  text-decoration: underline;
}

.back-to-top {
  position: fixed;
  width: 3rem;
  height: 3rem;
  right: 1.875rem;
  bottom: 1.875rem;
  z-index: 9999;
}
.back-to-top i {
  color: var(--bs-light);
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
